Telethon
telethon-session-sqlalchemy
setuptools
wheel
aiocsv
aiofiles
aiohttp==3.9.5
aiosqlite
arabic_reshaper
beautifulsoup4
catbox-uploader
cloudscraper
colour
flask
flask_restful
gunicorn
cowpy
DateTime
emoji==1.7.0
ffmpeg-python
geopy
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==3.1.0a0
gtts
hachoir
heroku3
html-telegraph-poster
httpx[http2]
humanize
ipaddress
img2html
jikanpy
justwatch
kvsqlite
lottie
lyricsgenius
markdown
motor
moviepy
nekos.py
opentele
Pillow
prettytable
psutil
psycopg2
py-tgcalls==0.9.7
pyfiglet
PyGithub
pygments
pylast
pymediainfo
pyquery
pyrogram
pySmartDL
python-barcode
python-dotenv
pytz
qrcode
regex
requests
search-engine-parser
selenium
spamwatch
speedtest-cli
sqlalchemy-json
sqlalchemy==1.3.23
telegraph
tgcrypto
ujson
urlextract
user_agent
validators
vcsi
wand
python-telegram-bot
wget
youtube-search-python==1.4.9
youtube-search
youtube_dl
yt-dlp
